#core_toolbar {
  margin:0px
  padding:0px;
  background-color: rgb(255, 255, 255);
}
#title {
  color: rgb(114, 114, 114);
  margin-top: 38px;
}
#searchButtonDiv {
  width: 60px;
}
#paper_icon_button {
  color: rgb(114, 114, 114);
  margin: 8px;
}
paper-icon-button.hover:hover {
  border-radius: 50%;
  background: rgb(224, 224, 224);
}
#paper_icon_search {
  color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px 8px 0px 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  font-size: 0px;
  height: 30px;
  width: 60px;
  background: rgb(67, 135, 253);
}
paper-button.hover:hover {
  background-color: rgb(70, 131, 234) !important;
}
#dropdownButton {
  color: rgb(114, 114, 114);
  margin: 0px;
  padding: 0px;
}
#paper_tabs {
  color: rgb(114, 114, 114);
  font-weight: bold;
  height: 50px;
}
paper-tabs::shadow #selectionBar {
  background-color: rgb(114, 114, 114);
}
paper-tabs paper-tab::shadow #ink {
  color: rgb(218, 218, 218);
  opacity: 0.5;
}
#tabsBarDiv {
  margin: 0px;
  padding:0px;
  background-color: rgb(245, 245, 245);
  width:100%;
  height:50px;
}
#core_header_panel {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  margin:0px;
  padding:0px;
}
#section {
  height: 1000px;
  margin: 0px;
  background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}
#searchBar {
  color: rgb(114, 114, 114);
  margin: 0px 0px 0px 32px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: rgb(201, 201, 201);
  padding: 0px;
  height: 28px;
  background: white;
}
paper-input /deep/ .focused-underline {
  color: rgb(201, 201, 201);
  background-color: rgb(114, 114, 114);
}
core-tooltip.fancy::shadow .core-tooltip {
  opacity: 0;
  transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  -webkit-transition: all 300ms cubic-bezier(0, 1.92, 0.99, 1.07);
  -webkit-transform: translate3d(0px, -10px, 0px);
  transform: translate3d(0px, -10px, 0px);
}
core-tooltip.fancy:hover::shadow .core-tooltip, core-tooltip.fancy:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
#advenceSearch_tooltip {
  padding: 0px;
  margin: 0px;
}
#titleDiv {
}
#loginDiv {
  margin:0px;
  padding:0px;
  width: 100%;
}
#loginField {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2px;
  padding: 0px;
  margin:8px 0px 8px 0px;
  height: 30px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#loginButtonDiv {
  margin: 0px;
  padding: 0px;
}
#paper_checkbox {
  color: rgb(158, 158, 158);
  font-size: 12px;
  margin:8px 0px 8px 0px;
}
paper-checkbox::shadow #checkbox.checked {
  border-color: rgb(114, 114, 114);
  background-color: rgb(114, 114, 114);
}
paper-checkbox::shadow #checkbox {
  border-color: rgb(158, 158, 158);
}
#login_button {
  color: rgb(255, 255, 255);
  font-size:14px;
  font-weight: bold;
  margin: 8px;
  padding: 0px;
  background: rgb(68, 138, 255);
  width:100px;
}
#register_button {
  color: rgb(255, 255, 255);
  font-size:14px;
  font-weight: bold;
  margin: 8px;
  padding: 0px;
  background: rgb(255, 82, 82);
  width:100px;
}
#conexionDiv {
  position:relative;
  top:-50px;
  right:0px;
}

#div{
  margin:0px;
  padding:0px;
}
html /deep/ [autofocus] {
      color: #03a9f4;
}

#SignInDialog{
  position:absolute;
  top:-20px;
  right:-10px;
}

#SignInDialog::shadow #scroller {
  height: 300px;
  width: 300px;
}

.userID{
  margin: 10px 0px 0px 0px;
  font-family:Roboto;
  font-weight: bold;
}

#registerDialog::shadow #scroller {
  width: 800px;
  height: 600px;
}

.registerInfo{
  margin:0px;
  padding:0px;
}

paper-item{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
paper-item:hover{
  border-radius:3px;
  background:rgb(224, 224, 224);
}

.content{
  border: 1px solid #dadada;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width:181px;
  padding:10px;
  background:white;
  overflow:visible;
  z-index: 5;
}

core-collapse{
  overflow:visible;
  z-index: 5;
}

.separator{
  border-top:1px solid #dadada;
  width:100%;
  margin-top:4px;
  height:1px;
}

.captchaButton{
  border: 1px solid #dadada;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 29px;
  padding: 2px;
  margin:0px;
}
.captcha{
  border: 1px solid #dadada;
  overflow: visible;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
